COVID19Py==0.3.0
requests==2.23.0
pyTelegramBotApi==3.6.7
dataclasses==0.6.0
enforce-pep8==0.0.5
setuptools==65.5.1
wheel==0.34.2
twine==3.1.1
gunicorn==20.0.4
flask==1.1.2
markdown==3.2.1
uyaml==0.0.3
