pytest==5.3.5
pytest-sugar
pytest-clarity
pytest-cov
pdbpp
pydocstyle
black
pylint
mypy
flake8
flake8-comprehensions
flake8-typing-imports
flake8-import-order
flake8-annotations-complexity
flake8-functions
flake8-variables-names
flake8-unused-arguments
flake8-print
flake8-eradicate
flake8-builtins
flake8-pytest-style
coverage
coveralls
